/* Harshil Thakkar 200522591
Mihir Bhavsar 200522598
Harsh Patel 200529704
Assignment 2 JavaScript */

@charset "utf-8";

body {
    background-color: rgba(6, 118, 115, 0.889);
    margin-left: 100px;
}

.heading {
    text-align: center;
    font-size: 30px;
}

.small-images {
    filter: grayscale(100%);
}

.small-images ul li {
    display: inline;
    text-decoration: none;
}

.active {
    filter: none;
}